<p>
  <b>Name:</b>
  <%=h @feed.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @feed.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @feed.description %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) if logged_in? %><br />
<%= link_to 'Back', feeds_path %>
